
{% extends 'components/base.html' %}
{% block content %}
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2>MY RECENT PROJECTS </h2>
                </div>
                {% if projects %}
                <div class="row">
                {% for item in projects %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="{{item.url}}"><img class="card-img-top scale-on-hover" src="{{item.image.url}}" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="{{item.url}}">{{item.title}}</a></h6>
                                <p class="text-muted card-text">{{item.description}}</p>
                            </div>
                    </div>
                {% endfor %}
                </div>
                {% else %}
                <p class='text-center h3'>No Projects Yet</p>
                {% endif %}
            </div>
        </section>
{% endblock %} 