
<section class="portfolio-block block-intro">
    <div class="container">
        <div class="avatar" style="background-image: url(&quot;/static/assets/img/avatars/avatar.jpg&quot;);"></div>
        <div class="about-me">
            <p>Hello! I am <strong>Maxius Emmanuel Shija.</strong> <strong> Am a Junior Software Developer|Chemistry and Experienced ICT Tutor.</strong>Welcome to my page and Enjoy exploring my CV</p><a class="btn btn-outline-primary" role="button" href="#">Hire me</a>
        </div>
    </div>
</section>